<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2704.1432" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2704.1432" targetFramework="net452" />
  <package id="cef.sdk" version="3.2704.1432" targetFramework="net452" />
  <package id="CefSharp.Common" version="51.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="51.0.0" targetFramework="net452" />
  <package id="Facebook" version="7.0.6" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="IronPython" version="2.7.5" targetFramework="net452" />
  <package id="Json.NET.Web" version="1.0.49" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Spire.XLS" version="7.11" targetFramework="net452" />
</packages>